.footer {
    position: fixed;
    bottom: 0px;
    left: 21vw;
    right: 0px;
    grid-area: footer;
    border-top: 1px solid #e8ebf1;
    padding: 15px 25px 15px 25px;
}
.footer__data > p{
    color: #6C757D;
    font-size: 15px;
}

.footer__data > p > span > a {
    color: #2EC771;
    text-decoration: none;
    font-size: 15px;
    
}