::-webkit-scrollbar {
    width: 7.5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 5px #363636;
}

::-webkit-scrollbar-thumb{
    background-color: #2EC771;
}

::-webkit-scrollbar-thumb:hover{
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr 0.1fr;
    grid-template-areas: 
            "sidebar nav nav nav"
            "sidebar main main main"
            "sidebar footer footer footer";
}