.nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
    padding-left: 0.5%;
}

.nav__buttonicon {
    display: flex;
    align-items: center;
    /* display: none; */
}

.nav__buttonicon:hover{
    cursor: pointer;
}